{% extends "inc/base.html" %}

{% load static %}

{% block content %}
    <h1 style=" margin-bottom:30px;">New Question</h1>
    <form action="/ask/" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input name="title" type="text" class="form-control" id="exampleFormControlInput1"
                   placeholder="Example">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea2" class="form-label">Text</label>
            <textarea name="text" class="form-control" id="exampleFormControlTextarea2" rows="6"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Tags</label>
            <input name="tags" type="text" class="form-control" id="exampleFormControlInput3"
                   placeholder="Tag1, Tag2, Tag3">
        </div>
        <button type="submit" class="btn btn-outline-success">Ask!</button>
    </form>
{% endblock %}